.root
{
	-fx-background-color: grey;
}
.bottomSide
{
    -fx-background-color: darkgrey;
}
.listPlaylist-view
{
    -fx-background-color: lightgrey;
}
.button
 {
    -fx-background-color: grey;
    -fx-font: 20 monospace;
    -fx-text-fill: white;
 }
.songTable-view
{
    -fx-background-color: grey;
}
.songInfo-view
{
    -fx-background-color: pink;
}
